<!DOCTYPE html>
<html>
    <head>
        <script src="js/angular.min.js"></script>
    </head>
    <body>
        <!-- Practice 1
        <div ng-app="">
            <p>Input my ID:<input type="text" ng-model="id"></p>
            <h3>Welcome {{id}}</h3>
        </div>
        -->
        <!-- Practice 2 -->
        <div ng-app="">
            <p>Please type your name:<input type="text" ng-model="username" placeholder="Your name please.."></p>
            <h3>Hello: {{username}}</h3>
        </div>
    </body>
</html>